<%= form_for(@data_pipe) do |f| %>
  <% if @data_pipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_pipe.errors.count, "error") %> prohibited this data_pipe from being saved:</h2>

      <ul>
      <% @data_pipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
  <tr><div class="field">
    <td align="right"><%= f.label :number_product %><br /></td>
    <td><%= f.number_field :number_product %></td>
  </div></tr>
  <tr><div class="field">
    <td><%= f.label :amount %><br /></td>
    <td><%= f.number_field :amount %></td>
  </div></tr>
  </table><div class="actions">
    <%= f.submit 'продолжить' %>
  </div>
  <%=  %>
<% end %>
