<%= form_for(@represent_tran) do |f| %>
  <% if @represent_tran.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@represent_tran.errors.count, "error") %> prohibited this represent_tran from being saved:</h2>

      <ul>
      <% @represent_tran.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :job %><br />
    <%= f.text_field :job %>
  </div>
  <div class="field">
    <%= f.label :organization %><br />
    <%= f.text_field :organization %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
