<h1>Listing zavods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Shot name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zavods.each do |zavod| %>
  <tr>
    <td><%= zavod.name %></td>
    <td><%= zavod.shot_name %></td>
    <td><%= link_to 'Show', zavod %></td>
    <td><%= link_to 'Edit', edit_zavod_path(zavod) %></td>
    <td><%= link_to 'Destroy', zavod, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zavod', new_zavod_path %>
