<h1>Listing cost_inputs</h1>

<table>
  <tr>
    <th>Hour</th>
    <th>Material</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cost_inputs.each do |cost_input| %>
  <tr>
    <td><%= cost_input.hour %></td>
    <td><%= cost_input.material %></td>
    <td><%= link_to 'Show', cost_input %></td>
    <td><%= link_to 'Edit', edit_cost_input_path(cost_input) %></td>
    <td><%= link_to 'Destroy', cost_input, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cost input', new_cost_input_path %>
