<h1>Listing menu_reports</h1>

<h4> <%= link_to "журнал регистрации актов входного контроля и освидетельствования труб", :action => 'new', :controller => 'magazines' %></h4>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menu_reports.each do |menu_report| %>
  <tr>
    <td><%= menu_report.name %></td>
    <td><%= link_to 'Show', menu_report %></td>
    <td><%= link_to 'Edit', edit_menu_report_path(menu_report) %></td>
    <td><%= link_to 'Destroy', menu_report, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menu report', new_menu_report_path %>
