<h1>Listing xls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @xls.each do |xl| %>
  <tr>
    <td><%= xl.name %></td>
    <td><%= xl.number %></td>
    <td><%= link_to 'Show', xl %></td>
    <td><%= link_to 'Edit', edit_xl_path(xl) %></td>
    <td><%= link_to 'Destroy', xl, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Xl', new_xl_path %>
