<%= simple_form_for(@cost) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    укажите начало периода <br> <%= f.date_select :date_start, :name => "укажите начало периода" %>   <br>
    укажите конец периода <br> <%= f.date_select :date_end, :label => "укажите конец периода" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "произвести вычесления" %>
  </div>
<% end %>
