<p id="notice"><%= notice %></p>

<p>
  <b>Date start:</b>
  <%= @cost.date_start %>
</p>

<p>
  <b>Date end:</b>
  <%= @cost.date_end %>
</p>


<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
