<h1>Listing konstrs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Shot name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @konstrs.each do |konstr| %>
  <tr>
    <td><%= konstr.name %></td>
    <td><%= konstr.shot_name %></td>
    <td><%= link_to 'Show', konstr %></td>
    <td><%= link_to 'Edit', edit_konstr_path(konstr) %></td>
    <td><%= link_to 'Destroy', konstr, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Konstr', new_konstr_path %>
