<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ntrub.name %>
</p>

<p>
  <b>Shot name:</b>
  <%= @ntrub.shot_name %>
</p>


<%= link_to 'Edit', edit_ntrub_path(@ntrub) %> |
<%= link_to 'Back', ntrubs_path %>
