<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table>
    <tr><div class="field">
      <td><%= f.label :outside_diameter %><br /></td>
      <td><%= f.number_field :outside_diameter %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label :wall_tickness %><br /></td>
      <td><%= f.number_field :wall_tickness %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label :roundness %><br /></td>
      <td><%= f.text_field :roundness %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label :stratification %><br /></td>
      <td><%= f.text_field :stratification %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label :defect %><br /></td>
      <td><%= f.text_field :defect %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'дата нанисения изоляции' %><br /></td>
      <td><%= f.text_field :isolation %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'отметка о годности' %><br /></td>
      <td><%= f.text_field :stamp_valid %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label :mass_init %><br /></td>
      <td><%= f.number_field :mass_init %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'от маркер торца' %><br /></td>
      <td><%= f.number_field :from_mark_butt %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'от прав шва' %><br /></td>
      <td><%= f.number_field :from_right_seam %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'длина' %><br /></td>
      <td><%= f.number_field :length %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'ширина' %><br /></td>
      <td><%= f.number_field :width %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'глубина' %><br /></td>
      <td><%= f.number_field :deep %></td>
    </tr></div>
    <tr><div class="field">
      <td><%= f.label 'магнитный остаток' %><br /></td>
      <td><%= f.text_field :magnet %></td>
    </tr></div>
    </table>
    <div class="actions">
    <%= f.submit 'добавить ещё результаты'%>
  </div>
<% end %>
