<p id="notice"><%= notice %></p>
<%=  @call %>
<% $sheet.each_with_index do |rows, index_row| %>
   <%= rows.compact  %><br>
<% end %>

<% if !$named = "(входного контроля труб)" %>
<table BORDER=2  CELLPADDING=5>
  <tr>
    <td width="30%"><%= @cap%></td>
    <td width="40%"><p align="center"><%= $named %></p></td>
    <td width="30%"></td>
  </tr>
  <tr>
    <td width="30%"></td>
    <td width="40%"><p align="center">№  <%= $number %>  от <%= $date%></p></td>
    <td width="30%"></td>
  </tr>
  <tr>
    <td width="30%"><p>Место проведения входного контроля труб</p></td>
    <td width="40%"><p align="center"><%= $place %></p></td>
    <td width="30%"><p>Трубы размером  <%= $sizepipe%></p></td>
  </tr>
</table>
<table>
  <tr>
    <td width="25%">Изготовлены по (ТУ, ГОСТ)</td>
    <td width="25%"><p><%= $gost %></p></td>
    <td width="25%"><p>Конструкция труб    <%= $typepipe %></p></td>
    <td width="25%"><p>Класс прочности    <%= $strengthclass %></p></td>
  </tr>
  <tr>
    <td width="25%">Изоляционное покрытие по ТУ</td>
    <td width="25%"><p align="left"><%= $ty %></p></td>
    <td width="25%"><p>Завод изготовитель    </p></td>
    <td width="25%"><p align="left"><%= $manufacture %></p></td>
  </tr>
</table>
<table >
  <tr  ROWSPAN="2">
    <td width="2%" rowspan="2"><p align="center">№ п/п</p></td>
    <td width="7%" rowspan="2"><p align="center">Присвоен. № трубы/ партии/ плавки</p></td>
    <td width="7%" rowspan="2"><p align="center">№ сертиф.</p></td>
    <td width="8%" rowspan="2"><p align="center">Дата отгрузки</p></td>
    <td width="8%" rowspan="2"><p align="center">Дата нанисения изол.</p></td>
    <td width="5%" rowspan="2"><p align="center">Фактич. диам. мм</p></td>
    <td width="3%" rowspan="2"><p align="center">Овальность, мм</p></td>
    <td width="3%" rowspan="2"><p align="center">Длина, м</p></td>
    <td width="4%" rowspan="2"><p align="center">Толщина стенки, мм</p></td>
    <td width="43%" colspan="6"><p align="center">Описание дефектов</p></td>
    <td width="4%" rowspan="2"><p align="center">Ост. Маг. инд. мТс</p></td>
    <td width="4%" rowspan="2"><p align="center">Отметка о годности</p></td>
  </tr>
  <tr>
    <td><p align="center">Тип дефекта</p></td>
    <td><p align="center">От марк. торца, м</p></td>
    <td><p align="center">Длина, мм</p></td>
    <td><p align="center">Ширина, мм</p></td>
    <td><p align="center">Глубина, мм</p></td>
    <td><p align="center">Ост. толщина, мм</p></td>
  </tr>
  <tr>
    <% for @i in 1..17 %>
        <td ><p align="center"><%= @i %></p></td>
    <% end %>
  </tr>
  <% for i in 0..3 %>
  <tr>
    <td width="2%"><p align="center"><%=  $subitem[i][0] %></p></td>
    <td width="7%"><p align="center"><%=  $subitem[i][1]%>/<br> <%= $subitem[i][2]%>/<br><%= $subitem[i][3]%></p></td>
    <td width="7%"><p align="center"><%=  $subitem[i][4]%></p></td>
    <td width="8%"><p align="center"><%=  $subitem[i][5]%></p></td>
    <td width="8%"><p align="center"><%=  $subitem[i][6]%></p></td>
    <td width="5%"><p align="center">марк.<br><%= $subitem[i][7] %><br>немарк.<br><%= $subitem[i][8] %></p></td>
    <td width="3%"><p align="center"><br><%= $subitem[i][9] %><br><br><%= $subitem[i][10] %></p></td>
    <td width="3%"><p align="center"><%= $subitem[i][11] %></p></td>
    <td width="4%"><p align="center"><%= $subitem[i][12] %><br><%= $subitem[i][13] %><br><%= $subitem[i][14] %><br><%= $subitem[i][15] %></p></td>
    <td width="13%"><p align="center"><%= $subitem[i][16] %></p></td>
    <td width="5%"><p align="center"><%= $subitem[i][17] %></p></td>
    <td width="5%"><p align="center"><%= $subitem[i][18] %></p></td>
    <td width="5%"><p align="center"><%= $subitem[i][19] %></p></td>
    <td width="7%"><p align="center"><%= $subitem[i][20] %></p></td>
    <td width="7%"><p align="center"><%= $subitem[i][21] %></p></td>
    <td width="4%"><p align="center"><%= $subitem[i][22] %><br><%= $subitem[i][23] %><br><%= $subitem[i][24] %><br><%= $subitem[i][25] %></p></td>
    <td width="4%"><p align="center"><%= $subitem[i][26] %></p></td>
  </tr>
  <% end %>
</table>
    Примечание: в ст.  6-17 записывают фактические результаты измерений.<br>
    Используемые приборы и измерительный инструмент:<%= $instrum %> <br>
    Акт составлен на <%= $list %>  лист., прилагаются копии сертификатов качества.<br>
    Заключение<p align="center"> <%= $incapsul %></p>
    <table>
            <tr>
              <td width="25%"><p>Контроль произведен в присутствии:</p></td>
              <td width="25%"><p align="center"><%= $face1 %></p></td>
              <td width="25%"><p align="center"><%= $post1 %></p></td>
              <td width="14%"><p align="center"></p></td>
              <td width="11%"><p align="right"><%= $date1 %></p></td>
            </tr>
            <tr>
              <td width="25%"><p>Провел контроль с выдачей заключения:</p></td>
              <td width="25%"><p align="center"><%= $face2 %></p></td>
              <td width="25%"><p align="center"><%= $post2 %></p></td>
              <td width="14%"><p align="center"></p></td>
              <td width="11%"><p align="right"><%= $date2 %></p></td>
            </tr>
            <tr>
              <td width="25%"><p>С результатом ознакомлен, акт выдан:</p></td>
              <td width="25%"><p align="center"><%= $face3 %></p></td>
              <td width="25%"><p align="center"><%= $post3 %></p></td>
              <td width="14%"><p align="center"></p></td>
              <td width="11%"><p align="right"><%= $date3 %></p></td>
            </tr>
    </table>
<% else %>
    <table BORDER=2  CELLPADDING=5>
      <tr>
        <td width="30%"><%= @cap%></td>
        <td width="40%"><p align="center"><%= $named %></p></td>
        <td width="30%"></td>
      </tr>
      <tr>
        <td width="30%"></td>
        <td width="40%"><p align="center">№  <%= $number %>  от <%= $date%></p></td>
        <td width="30%"></td>
      </tr>
      <tr>
        <td width="30%"><p>Место проведения входного контроля труб</p></td>
        <td width="40%"><p align="center"><%= $place %></p></td>
        <td width="30%"><p>Трубы размером  <%= $sizepipe%></p></td>
      </tr>
    </table>
    <table>
      <tr>
        <td width="25%">Изготовлены по (ТУ, ГОСТ)</td>
        <td width="25%"><p><%= $gost %></p></td>
        <td width="25%"><p>Конструкция труб    <%= $typepipe %></p></td>
        <td width="25%"><p>Класс прочности    <%= $strengthclass %></p></td>
      </tr>
      <tr>
        <td width="25%">Изоляционное покрытие по ТУ</td>
        <td width="25%"><p align="left"><%= $ty %></p></td>
        <td width="25%"><p>Завод изготовитель    </p></td>
        <td width="25%"><p align="left"><%= $manufacture %></p></td>
      </tr>
    </table>
    <table >
      <tr  ROWSPAN="2">
        <td width="2%" rowspan="2"><p align="center">№ п/п</p></td>
        <td width="7%" rowspan="2"><p align="center">Присвоен. № трубы/ партии/ плавки</p></td>
        <td width="7%" rowspan="2"><p align="center">№ сертиф.</p></td>
        <td width="8%" rowspan="2"><p align="center">Дата отгрузки</p></td>
        <td width="8%" rowspan="2"><p align="center">Дата нанисения изол.</p></td>
        <td width="5%" rowspan="2"><p align="center">Фактич. диам. мм</p></td>
        <td width="3%" rowspan="2"><p align="center">Овальность, мм</p></td>
        <td width="3%" rowspan="2"><p align="center">Длина, м</p></td>
        <td width="4%" rowspan="2"><p align="center">Толщина стенки, мм</p></td>
        <td width="43%" colspan="7"><p align="center">Описание дефектов</p></td>
        <td width="4%" rowspan="2"><p align="center">Ост. Маг. инд. мТс</p></td>
        <td width="4%" rowspan="2"><p align="center">Отметка о годности</p></td>
      </tr>
      <tr>
        <td><p align="center">Тип дефекта</p></td>
        <td><p align="center">От марк. торца, м</p></td>
        <td><p align="center">От пр. шва м</p></td>
        <td><p align="center">Длина, мм</p></td>
        <td><p align="center">Ширина, мм</p></td>
        <td><p align="center">Глубина, мм</p></td>
        <td><p align="center">Ост. толщина, мм</p></td>
      </tr>
      <tr>
        <% for @i in 1..18 %>
            <td ><p align="center"><%= @i %></p></td>
        <% end %>
      </tr>
      <% for i in 0..3 %>

          <tr>
            <td width="2%"><p align="center"><%=  $subitem[i][0] %></p></td>
            <td width="7%"><p align="center"><%=  $subitem[i][1]%>/<br> <%= $subitem[i][2]%></p></td>
            <td width="7%"><p align="center"><%=  $subitem[i][4]%></p></td>
            <td width="8%"><p align="center"><%=  $subitem[i][5]%></p></td>
            <td width="8%"><p align="center"><%=  $subitem[i][6]%></p></td>
            <td width="5%"><p align="center">марк.<br><%= $subitem[i][7] %><br>немарк.<br><%= $subitem[i][8] %></p></td>
            <td width="3%"><p align="center"><br><%= $subitem[i][9] %><br><br><%= $subitem[i][10] %></p></td>
            <td width="3%"><p align="center"><%= $subitem[i][11] %></p></td>
            <td width="4%"><p align="center"><%= $subitem[i][12] %><br><%= $subitem[i][13] %><br><%= $subitem[i][14] %><br><%= $subitem[i][15] %></p></td>
            <td width="13%"><p align="center"><%= $subitem[i][16] %></p></td>
            <td width="5%"><p align="center"><%= $subitem[i][17] %></p></td>
            <td width="5%"><p align="center"><%= $subitem[i][27] %></p></td>
            <td width="5%"><p align="center"><%= $subitem[i][18] %></p></td>
            <td width="5%"><p align="center"><%= $subitem[i][19] %></p></td>
            <td width="7%"><p align="center"><%= $subitem[i][20] %></p></td>
            <td width="7%"><p align="center"><%= $subitem[i][21] %></p></td>
            <td width="4%"><p align="center"><%= $subitem[i][22] %><br><%= $subitem[i][23] %><br><%= $subitem[i][24] %><br><%= $subitem[i][25] %></p></td>
            <td width="4%"><p align="center"><%= $subitem[i][26] %></p></td>
          </tr>
      <% end %>
    </table>
    Примечание: в ст.  6-17 записывают фактические результаты измерений.<br>
    Используемые приборы и измерительный инструмент:<%= $instrum %> <br>
    Акт составлен на <%= $list %>  лист., прилагаются копии сертификатов качества.<br>
    Заключение<p align="center"> <%= $incapsul %></p>
    <table>
            <tr>
              <td width="25%"><p>Контроль произведен в присутствии:</p></td>
              <td width="25%"><p align="center"><%= $face1 %></p></td>
              <td width="25%"><p align="center"><%= $post1 %></p></td>
              <td width="14%"><p align="center"></p></td>
              <td width="11%"><p align="right"><%= $date1 %></p></td>
            </tr>
            <tr>
              <td width="25%"><p>Провел контроль с выдачей заключения:</p></td>
              <td width="25%"><p align="center"><%= $face2 %></p></td>
              <td width="25%"><p align="center"><%= $post2 %></p></td>
              <td width="14%"><p align="center"></p></td>
              <td width="11%"><p align="right"><%= $date2 %></p></td>
            </tr>
            <tr>
              <td width="25%"><p>С результатом ознакомлен, акт выдан:</p></td>
              <td width="25%"><p align="center"><%= $face3 %></p></td>
              <td width="25%"><p align="center"><%= $post3 %></p></td>
              <td width="14%"><p align="center"></p></td>
              <td width="11%"><p align="right"><%= $date3 %></p></td>
            </tr>
    </table>
<% end  %>
<table>
<td width="76%"><p align="center"></p></td>
</table>
<%= button_to 'Добавить', :action => 'download', :controller => 'loadcertifics' %>
<%= button_to 'Не добавлять', :action => 'undownload', :controller => 'loadcertifics' %>
