<h1>Listing instrumentations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mark</th>
    <th>Date verification</th>
    <th>Certificate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @instrumentations.each do |instrumentation| %>
  <tr>
    <td><%= instrumentation.name %></td>
    <td><%= instrumentation.mark %></td>
    <td><%= instrumentation.date_verification %></td>
    <td><%= instrumentation.certificate %></td>
    <td><%= link_to 'Show', instrumentation %></td>
    <td><%= link_to 'Edit', edit_instrumentation_path(instrumentation) %></td>
    <td><%= link_to 'Destroy', instrumentation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Instrumentation', new_instrumentation_path %>
