<p id="notice"><%= notice %></p>

<p>
  <b>название:</b>
  <%= @instrumentation.name %>
</p>

<p>
  <b>марка:</b>
  <%= @instrumentation.mark %>
</p>

<p>
  <b>дата поверки:</b>
  <%= @instrumentation.date_verification %>
</p>

<p>
  <b>сертификат:</b>
  <%= @instrumentation.certificate %>
</p>


<%= link_to 'изменить', edit_instrumentation_path(@instrumentation) %> |
<%= link_to 'назад', instrumentations_path %>
