<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instrumentation.name %>
</p>

<p>
  <b>Mark:</b>
  <%= @instrumentation.mark %>
</p>

<p>
  <b>Date verification:</b>
  <%= @instrumentation.date_verification %>
</p>

<p>
  <b>Certificate:</b>
  <%= @instrumentation.certificate %>
</p>


<%= link_to 'Edit', edit_instrumentation_path(@instrumentation) %> |
<%= link_to 'Back', instrumentations_path %>
