<h1>Справочник ТУ</h1>

<table>
  <tr>
    <th>Наименование</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ties.each do |ty| %>
  <tr>
    <td><%= ty.name %></td>
    <td><%= link_to 'просмотреть', ty %></td>
    <td><%= link_to 'изменить', edit_ty_path(ty) %></td>
    <td><%= link_to 'удалить', ty, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'добавить ТУ', new_ty_path %>
