<%= form_for(@pipe) do |f| %>
  <% if @pipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pipe.errors.count, "error") %> prohibited this pipe from being saved:</h2>

      <ul>
      <% @pipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :notation %><br />
    <%= f.text_field :notation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
