<h1>Listing pipes</h1>

<table>
  <tr>
    <th>Notation</th>
    <th>Passport pipe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pipes.each do |pipe| %>
  <tr>
    <td><%= pipe.notation %></td>
    <td><%= pipe.passport_pipe_id %></td>
    <td><%= link_to 'Show', pipe %></td>
    <td><%= link_to 'Edit', edit_pipe_path(pipe) %></td>
    <td><%= link_to 'Destroy', pipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pipe', new_pipe_path %>
