<h1>типы трубной продукции</h1>

<table>
  <tr>
    <th>наименование</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @type_pipes.each do |type_pipe| %>
  <tr>
    <td><%= type_pipe.name %></td>
    <td><%= link_to 'просмотреть', type_pipe %></td>
    <td><%= link_to 'изменить', edit_type_pipe_path(type_pipe) %></td>
    <td><%= link_to 'удалить', type_pipe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'добавить', new_type_pipe_path %>
