<h3>Справочники</h3><br>	
<%= link_to 'завод', manufacturs_path %><br>
<%= link_to 'представители лаборатории', delegates_path %><br>
<%= link_to 'ГОСТ', gosts_path %><br>
<%= link_to 'ТУ', ties_path %><br>
<%= link_to 'представители принимающей организации', represent_hosts_path %><br>
<%= link_to 'представители передающей организации', represent_trans_path %><br>
<%= link_to 'проборы', instrumentations_path %><br>
<%= link_to 'нормативная документация', documents_path %><br>
<%= link_to 'типы трубной продукции', type_pipes_path %><br>
<%= link_to 'место установки', installation_sites_path %><br>
<%= link_to 'сопроводительные документы', support_documents_path %><br>
