<p id="notice"><%= notice %></p>

<p>
  <b>Объект:</b>
  <%= @installation_site.object %>
</p>

<p>
  <b>Дата:</b>
  <%= @installation_site.data %>
</p>

<%= link_to 'изменить', edit_installation_site_path(@installation_site) %> |
<%= link_to 'назад', installation_sites_path %>
