<p id="notice"><%= notice %></p>

<p>
  <b>Type pipe:</b>
  <%= @type_pipe_installation_site.type_pipe_id %>
</p>

<p>
  <b>Installation site:</b>
  <%= @type_pipe_installation_site.installation_site_id %>
</p>


<%= link_to 'Edit', edit_type_pipe_installation_site_path(@type_pipe_installation_site) %> |
<%= link_to 'Back', type_pipe_installation_sites_path %>
