<!DOCTYPE html>
<html>
<head>
  <title>Lkksswin</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">

  <% if user_signed_in? %>

      <p align="center">вы вошли как - <%= current_user.email %>.
<%=  link_to "выйти", destroy_user_session_path, :method => :delete%></p>
<% else %>
<%= link_to "new", new_user_registration_path %> <p align="center"> <%= link_to "необходимо авторизоваться", new_user_session_path %></p>
<% end %>
</div>
<table>
        <tr>
          <td colspan="2"><p> </p></td>
        </tr>
		<tr>
		<td width="60"><%= render 'layouts/menu' %></td>

          <td><br><%= yield %></td>
        </tr>
	</table>


</body>
</html>
